:root{
  --rounded-normal:16px;
  --color-bodysticky:241deg 88% 9%; 
  --color-link-primary:#FFFFFF; 
  --color-link-secondary:#00B1E9;
  --color-link-tertiary:#FE00B2;
  --shadow-default:0 2px 10px rgba(0,0,0,.2);
  --shadow-inset:inset -2px -2px 4px rgba(255,255,255,.2), inset 2px 2px 12px rgba(0,0,0,.2);
}

a, .btn{transition:all 0.25s; -moz-transition:all 0.25s; -webkit-transition:all 0.25s; -o-transition:all 0.25s; cursor:pointer;}
a{color:var(--color-link-primary); fill:var(--color-link-primary);}
a:hover{color:var(--color-link-secondary); fill:var(--color-link-secondary);}
.btn, a.btn{border-radius:var(--rounded-normal); background-color:var(--color-link-secondary); color:var(--color-link-primary); fill:var(--color-link-primary);}
.btn:hover, a.btn:hover{background-color:var(--color-link-tertiary); color:var(--color-link-primary); fill:var(--color-link-primary);}
.header-logo:hover, .trailer-box:hover .trailer-box-thumb{opacity:0.5;}
.flex_ori > img{opacity:0; transition:all 300ms;}
.flex_ori > img.lazyloaded{opacity:1;}
.sticky-button{fill:var(--color-default); color:var(--color-default);}
.sticky-button:hover{fill:var(--color-link-secondary);}
.sticky-curr{color:var(--color-link-primary); fill:var(--color-link-primary);}
.thumb-loading:before{animation:skeleton-loading 0.5s linear infinite alternate; background-color:hsl(var(--color-bodysticky) / 100%);}
@-webkit-keyframes skeleton-loading{0%{opacity:0;}100%{opacity:1;};}
@keyframes skeleton-loading{0%{opacity:0;}100%{opacity:1;};}

header, menu{background-color:hsl(var(--color-bodysticky) / 90%);}
.header-notification, .menu-package{fill:none !important; stroke:var(--color-default);}
.header-notification:hover, .menu-package:hover{stroke:var(--color-link-secondary);}
footer{padding:var(--section-space-medium); background-color:#000000; color:var(--color-link-primary);}

.trailer-box-info{background:linear-gradient(to bottom, hsl(var(--color-bodysticky) / 0%) 0%, hsl(var(--color-bodysticky) / 100%) 100%);}
.tbi-button{border-radius:var(--rounded-normal);}
.tbi-button:hover{border-color:var(--color-link-secondary);}
.tbi-icon .flex_ori{border-radius:50%; overflow:hidden;}


@media screen and (min-width:0px) and (max-width:1023px){
  footer{padding-bottom:calc(var(--section-space-medium) + var(--body-padding) + var(--body-bottomspace));}
}

@media screen and (min-width:1024px){
  .trailer-box{border-radius:var(--rounded-normal); overflow:hidden;}
}

@supports(-webkit-backdrop-filter:none) or (backdrop-filter:none){
  header, menu, .dummy-iphonebar{-webkit-backdrop-filter:blur(24px); backdrop-filter:blur(24px); background-color:hsl(var(--color-bodysticky) / 70%);}
  .trailer-box-info > * > *{-webkit-backdrop-filter:blur(1px); backdrop-filter:blur(1px);}
}