*,html{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:800}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer}.hide{display:none;}

:root{
  --site-container:970px;
  --section-space-tiny:4px;
  --section-space-small:8px;
  --section-space-medium:16px;
  --section-space-big:24px;
  --section-space-huge:32px;
  --body-padding:56px;
  --max-zindex:2147483648;
  --color-background:#1A1937;
  --color-default:#A0A3BD; 
}

body, html{font-family:'Montserrat', sans-serif; font-size:14px; font-weight:400; letter-spacing:0.5px; font-feature-settings:'lnum' 1; color:var(--color-default);
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
body{overflow-x:hidden; position:relative; background-color:var(--color-background); padding-top:var(--body-padding);}
a{font-weight:600;}
.btn, a.btn{padding:12px 18px; font-size:12px; font-weight:normal; -webkit-appearance:none; text-align:center; text-transform:uppercase;}
#btt{display:none;}
.content_center{display:flex; justify-content:center; align-items:center;}
.current-page{text-transform:capitalize; font-size:16px;}
.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}
.section-title{font-size:24px; margin-bottom:var(--section-space-small); font-weight:bold; text-transform:uppercase;}
.sticky-button{height:var(--body-padding); stroke-linecap:round; stroke-linejoin:round; stroke-width:2px;}
.sticky-button img, .sticky-button svg{height:24px;}
.svgicon-back{transform:rotate(180deg);}

header, header > div{display:flex;}
header{position:fixed; z-index:calc(var(--max-zindex) - 2000); top:0; left:0; width:100%; display:flex; justify-content:space-between; padding:0 var(--section-space-tiny); 
border-bottom:1px solid rgba(255,255,255,0.15);}
header .sticky-button{padding:0 calc(var(--section-space-tiny) + var(--section-space-small));}

.site-container{display:grid; grid-gap:var(--section-space-small); grid-template-rows:min-content; align-items:start;}
.section-container{margin:var(--section-space-medium);}

.section-tab{margin:0; display:flex;}
.tab-link{padding:var(--section-space-medium); width:100%; text-align:center; border-bottom:4px solid; font-weight:normal;}
.tab-curr{font-weight:600;}

.video-list{display:grid; grid-gap:var(--section-space-medium); grid-template-columns:repeat(auto-fill, minmax(280px,1fr));}
.video-box{border:1px solid;}
.video-box-link{position:relative; display:block;}
.vbl-thumb:before{content:''; display:block; padding-top:56.25%;}
.vbl-thumb:after{content:''; display:block; position:absolute; z-index:3; top:0; left:0; width:100%; height:100%;}
.vbl-label{position:absolute; z-index:2; top:var(--section-space-medium); left:var(--section-space-medium); padding:8px 16px; border:1px solid;}
.vbl-info{padding:0 var(--section-space-medium) var(--section-space-medium);}
.vbl-title{font-size:18px; line-height:140%; margin-bottom:var(--section-space-small);
-webkit-line-clamp:3; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden;}
.vbl-other, .vbl-data{display:flex;}
.vbl-other{gap:var(--section-space-big); color:var(--color-default); fill:var(--color-default); font-weight:normal;}
.vbl-data{gap:var(--section-space-tiny);}
.vbl-data-icon, .vbl-data-label{display:flex; align-items:center;}
.vbl-data-icon .svgicon{height:14px;}
.vbl-data-label{font-size:12px;}

.section-stories{margin-bottom:var(--section-space-small);}
.stories-list, .stories-list-container{height:86px;}
.stories-list{position:relative;}
.stories-list-container{position:absolute; top:0; left:0; width:100%; display:inline-block; 
white-space:nowrap; overflow-x:auto; overflow-y:hidden;}
.stories-box{display:inline-block; width:76px; margin-left:var(--section-space-tiny);}
.stories-all{margin-left:0;}
.stories-thumb{position:relative;}
.stories-thumb-circle{width:64px;}
.stories-thumb-circle:before{content:''; display:block; padding-top:100%;}
.stories-thumb-icon{border:4px solid #FFF;}
.stories-name{text-align:center; margin-top:var(--section-space-tiny); font-size:12px; font-weight:normal; white-space:normal; 
-webkit-line-clamp:1; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden;}

.trailer-list{display:grid; grid-gap:var(--section-space-medium); grid-template-columns:repeat(auto-fit, minmax(280px,1fr));}
.trailer-box{display:block; position:relative;}
.trailer-box-thumb:before{content:''; display:block; padding-top:133.33%;}
.trailer-box-info > *{display:flex; flex-wrap:wrap; align-content:flex-end; gap:var(--section-space-small);}
.trailer-box-info{--gateway-size:36px; --gateway-icon:18px; position:absolute; z-index:2; bottom:0; left:0; width:100%; 
padding:var(--section-space-big); padding-top:calc(2 * var(--section-space-big));
display:grid; grid-template-columns:1fr var(--gateway-size); grid-gap:var(--section-space-big);}
.tbi-title, .tbi-desc{line-height:140%; -webkit-line-clamp:3; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden;}
.tbi-title{font-size:var(--gateway-icon); -webkit-line-clamp:2; width:100%;}
.tbi-button{display:flex; gap:var(--section-space-small); align-items:center; height:42px; padding:0 var(--section-space-big); border:2px solid #FFF;}
.tbi-gateway{width:100%; justify-content:center; gap:var(--section-space-big);}
.tbi-icon .flex_ori{width:var(--gateway-size); height:var(--gateway-size);}
.tbi-icon svg{height:24px;}
.tbi-label{font-size:10px; margin-top:var(--section-space-tiny);}

.live-list{display:grid; grid-template-columns:repeat(auto-fit, minmax(280px,1fr));}
.live-box{display:grid; grid-gap:calc(var(--section-space-tiny) + var(--section-space-small)); grid-template-rows:auto 1fr auto auto; align-items:flex-start;}
.live-box .streamer-box{padding-bottom:0; border-bottom:0; grid-template-columns:48px 1fr;}
.live-box-link{border-radius:var(--rounded-normal); overflow:hidden;}
.live-box-link:before{content:''; display:block; padding-top:56.25%;}
.live-box-desc{line-height:140%;}

.section-cover{margin:0; max-height:100px;}
.section-cover:before{content:''; display:block; padding-top:50%;}
.section-profile-streamer{position:relative; z-index:2; margin:calc((var(--section-space-medium) * -2) - var(--section-space-medium)) var(--section-space-medium) 0;
display:grid; grid-template-columns:100px 1fr 90px;}
.ssp-thumb{border:var(--section-space-small) solid;}
.ssp-thumb .flex_ori{width:100%;}
.ssp-thumb .flex_ori:before{content:''; display:block; padding-top:100%;}
.ssp-info, .ssp-button{display:flex; flex-wrap:wrap; align-content:flex-end; gap:var(--section-space-tiny); padding-bottom:var(--section-space-small);}
.ssp-info > *, .ssp-button > *{width:100%;}
.ssp-name{font-weight:bold; color:#FFF;}
.ssp-followers{font-size:12px;}

.section-player{position:relative;}
.section-player:before, .section-player-dummy:before{content:''; display:block; padding-top:56.25%;}
.section-player > iframe{position:absolute; top:0; left:0; width:100%; height:100%;}
.section-info-bottom .streamer-box{border-top:1px dashed; padding-top:var(--section-space-medium); margin-top:var(--section-space-medium);}
.sib-desc{line-height:140%;}

.detail-container{grid-template-rows:auto auto auto 1fr; grid-gap:var(--section-space-tiny);}
.detail-info{margin-bottom:0;}
.detail-info-title{font-weight:600; font-size:18px; line-height:140%;}
.detail-info-other, .detail-info-other > span{margin-top:var(--section-space-tiny);}
.detail-info-other > span{display:inline-block; border-right:1px solid;
margin-right:var(--section-space-tiny); padding-right:var(--section-space-tiny);}
.detail-info-other > span:last-child{border-right:0; margin-right:0; padding-right:0;}

.detail-info-navigation, .detail-info-navigation > *{display:flex;}
.detail-info-navigation{justify-content:space-between;}
.detail-info-navigation > *{gap:var(--section-space-small);}
.din-button{width:48px; height:48px; border:1px solid; margin-bottom:var(--section-space-medium);}
.din-button svg{height:18px;}

.spt-cricle{width:96px; height:96px; border-radius:50%;}
.section-profile-name, .section-profile-status{line-height:140%; text-align:center;}
.section-profile-name{font-size:18px; font-weight:bold; margin:var(--section-space-small) 0 0;}

.package-list{display:grid; grid-gap:var(--section-space-medium); grid-template-columns:repeat(auto-fit, minmax(280px,1fr));}
.package-box{display:block; position:relative;}
.package-info{position:absolute; z-index:4; bottom:0; left:0; width:100%; padding:var(--section-space-medium);}
.package-info .streamer-box{padding-bottom:0; border-bottom:0; grid-template-columns:24px 1fr; margin-top:var(--section-space-tiny);}
.package-info .streamer-link{font-weight:normal;}
.package-title, .package-desc{line-height:140%; -webkit-line-clamp:2; display:-webkit-box; -webkit-box-orient:vertical; overflow:hidden;}
.package-title{font-size:18px;}
.package-desc{font-size:12px; font-weight:normal; margin-top:var(--section-space-small);}
.package-button{display:flex; gap:var(--section-space-small); align-items:center; height:48px; padding:0 var(--section-space-big); font-weight:600 !important;
height:48px; justify-content:center; margin-top:var(--section-space-medium);}
.package-empty-icon{opacity:0.5;}
.package-empty-label{margin-top:var(--section-space-medium); text-align:center;}

.section-live-date{display:flex; justify-content:center; gap:var(--section-space-big); margin:var(--section-space-big) var(--section-space-medium);}
.section-live-date *{text-align:center;}
.sld-label{font-weight:normal; margin-top:var(--section-space-tiny); font-size:12px;}

.section-package-info{margin:0 var(--section-space-medium);}
.spi-title{font-weight:600; font-size:18px; margin-bottom:var(--section-space-tiny);}
.spi-desc{line-height:140%;}

.streamer-list{display:grid; grid-template-columns:1fr; grid-gap:var(--section-space-medium);}
.streamer-box{display:grid; grid-template-columns:48px 1fr 90px; grid-gap:var(--section-space-small); padding-bottom:var(--section-space-medium); border-bottom:1px dashed;}
.streamer-box > *{display:flex; align-items:center;} 
.streamer-thumb > .flex_ori{width:100%;}
.streamer-thumb > .flex_ori:before{content:''; display:block; padding-top:100%;}
.streamer-button .btn{width:100%; padding:0 9px; height:40px; text-transform:capitalize;
display:flex; align-items:center; justify-content:center;}
.streamer-button .btn-followed{border:2px solid;}
.streamer-subscriber{font-size:12px;}