:root{
  --body-bottomspace:30px;
}

.desktop-only{display:none !important; visibility:hidden; content-visibility:hidden;}
.desktop-only iframe[loading=lazy]{content-visibility:hidden !important;}

menu{bottom:var(--body-bottomspace); left:0; width:100%; display:flex; border-top:1px solid rgba(255,255,255,0.15);}
menu .sticky-button{width:100%;}
menu .sticky-button svg{height:18px;}
menu .menu-label{font-size:10px; margin-top:var(--section-space-tiny);}

.dummy-iphonebar{position:fixed; z-index:calc(var(--max-zindex) - 3000); bottom:0; left:0; width:100%; height:var(--body-bottomspace); display:flex; justify-content:center; align-items:flex-start;
background-color:hsl(var(--color-bodysticky) / 90%);}
.dummy-iphonebar:before{content:''; display:block; background-color:#FFF; width:160px; height:5px; position:relative; top:4px; border-radius:var(--rounded-normal);}

.section-trailer{margin:0;}